body {
  font-family: sans-serif; 
  margin: 0;
  padding: 0; 
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #333;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #be2ed6;
  font-weight: bold;
}

h3 {
  font-size: 1.2 em;
  color: orangered;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5; 
  margin-bottom: 20px; 
}

/* Info Section */
.info-section {
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  font-size: 16px;
}

.info-section ul {
  display: flex; 
  list-style: none; 
  margin: 0; 
  padding: 0;
}

.info-section ul li {
  margin-right: 10px; 
  padding: 5px 15px; 
  background-color: rgba(0, 180, 204, 0.5); 
  border-radius: 50px;
  display: inline-flex; 
  align-items: center;
}

/* CTA Section */
.cta-container {
  text-align: left; 
  background-color: #ffffff; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 50px; 
  margin-bottom: 40px; 
}

form {
  display: flex; 
  align-items: center; 
}

input {
  padding: 8px 30px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  font-size: 16px;
  margin-right: 30px;
}

button {
  background-color: #007373;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 3px; 
  cursor: pointer; 
  font-size: 14px;
}

button:hover {
  background-color: #004d4e;
}

footer {
  text-align: center; 
  font-size: 14px; 
  color: #aaa;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }

  h1 {
      font-size: 1.8em;
  }

  .info-section, .cta-container {
      margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .cta-container h2 {
      font-size: 1.5em;
  }

  p {
      font-size: 14px;
  }

  form {
      flex-direction: column;
  }

  form input{
      padding: 10px 20px;
      margin-right: 0;
      margin-bottom: 20px;
     
  }

  button {
      width: 80%;
  }
}
